{% extends 'base.html' %}

{% block title %}SWORM - Log In{% endblock %}

{% block content %}

    <div class="container">
        <div clas="parent container d-flex justify-content-center align-items-center h-100">
             <div class="child container" style="width: 40%">
                <h2 style="text-align:center">Log In</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        {{ form.username.errors }}
                        <div class="input-group-prepend">
                              <span class="input-group-text">{{ form.username.label_tag }}</span>
                        </div>
                        {{ form.username }}
                    </div>

                    <div class="input-group mb-3">
                        {{ form.password.errors }}
                        <div class="input-group-prepend">
                              <span class="input-group-text">{{ form.password.label_tag }}</span>
                        </div>
        {#                <label for="{{  form.password.id_for_label }}">Password</label>#}
                        {{ form.password }}
                    </div>

                  <button type="submit" class="btn btn-primary">Log In</button> Or <a href="{% url 'signup' %}">Sign Up</a>
                </form>
             </div>
        </div>
    </div>


{% endblock %}
