<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}SWORM{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
    {% block preamble %}{% endblock %}
</head>
{#{% load cookiebanner %}#}

<body>
    <header class="header">
      <a href="/" class="logo">SWORM</a>
      <div class="header-right">
        <a {% if active == "home" %} class="active" {% endif %} href="{% url 'home' %}">Home</a>
        <a {% if active == "map" %} class="active" {% endif %} href="{% url 'map' %}">Map</a>

        {% if user.is_authenticated %}
            <a {% if active == "library" %} class="active" {% endif %} href="{% url 'library' %}">Library</a>
            <a href="{% url 'logout' %}">Log Out</a>
        {% else %}
            <a {% if active == "login" %} class="active" {% endif %} href="{% url 'login' %}">Login</a>
        {% endif %}
        <a {% if active == "imprint" %} class="active" {% endif %} href="{% url 'imprint' %}">Imprint</a>
      </div>
    </header>

    {% block content %}
    {% endblock %}

{#    {% cookiebanner_modal 'vanilla' %}#}
</body>

</html>
