{% extends 'base.html' %}

{% block title %}Impress{% endblock %}

{% block content %}

    <div class="container">

        <h2>Herausgeber</h2>
        <p>
            Das Internetangebot SWORM wird von Christian Ghanem, Markus Eckl und Konstantin Kirchheim veröffentlicht.
        </p>

        Anschrift<br>
        Bahnhofstraße 87<br>
        90402 Nürnberg<br>
        Tel. 0911-5880-2536<br>
        E-Mail: c [punkt] schmoeller [at] gmx [punkt] de <br>

        <h2>Nutzungsbedingungen</h2>
        <p>
            Texte, Bilder, Grafiken sowie die Gestaltung dieser Internetseiten können dem Urheberrecht unterliegen.
            Als Privatperson dürfen Sie urheberrechtlich geschütztes Material zum privaten und sonstigen eigenen
            Gebrauch im Rahmen des § 53 Urheberrechtsgesetz (UrhG) verwenden. Eine Vervielfältigung oder Verwendung
            urheberrechtlich geschützten Materials dieser Seiten oder Teilen davon in anderen elektronischen oder
            gedruckten Publikationen und deren Veröffentlichung ist nur mit unserer Einwilligung gestattet. Diese
            erteilen auf Anfrage die für den Inhalt Verantwortlichen. Die Nutzung von SWORM, individuelle Auswertungen
            und Suchanfragen sind mit Quellenangabe allgemein gestattet.
            Weiterhin können Texte, Bilder, Grafiken und sonstige Dateien ganz oder teilweise dem Urheberrecht Dritter
            unterliegen. Auch über das Bestehen möglicher Rechte Dritter geben Ihnen die für den Inhalt Verantwortlichen
            nähere Auskünfte.
            Die eingebetteten Metainformationen und Abstracts der Publikationen stammen von SCOPUS mit deren
            Einverständnis die Daten im Rahmen von SWORM genutzt werden dürfen.
        </p>

        <h2>Haftungsausschluss</h2>
        <p>
            Die Inhalte dieses Internetangebotes und die bereitgestellten Informationen sind sorgfältig recherchiert und
            nach bestem Wissen und Gewissen erarbeitet und geprüft. In regelmäßigen Abständen werden sie überprüft,
            berichtigt, ergänzt und aktualisiert. Dennoch könne die Herausgeber keine Gewähr für die Aktualität,
            Richtigkeit, Vollständigkeit, rechtliche Unbedenklichkeit, Qualität und jederzeitige Verfügbarkeit der
            bereitgestellten Informationen übernehmen.
            Es wird nicht gehaftet für Schäden oder sonstige Konsequenzen, die durch die direkte oder indirekte Nutzung
            oder Nichtnutzung der im Internetangebot von SWORM angebotenen Informationen entstehen. Für etwaige Schäden,
            die beim Aufrufen oder Herunterladen von Daten durch Computerviren, Manipulations- oder sonstige
            Schadsoftware oder bei der Installation oder Nutzung von Software oder Daten verursacht werden, wird nicht
            gehaftet.
            Die eingebetteten Abstracts und verlinkten Artikel geben die Auffassungen und Erkenntnisse der abfassenden
            Personen wieder.
            Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen
            Gesetzen verantwortlich. Nach § 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet,
            übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf
            eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von
            Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist
            jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von
            entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
            Die Herausgeber behalten es sich ausdrücklich vor, einzelne Webseiten oder das gesamte Internetangebot ohne
            gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder
            endgültig einzustellen.
        </p>

        <h2>Links</h2>
        <p>
            Von unseren eigenen Inhalten sind Querverweise („Links“) auf die Webseiten anderer Anbieter zu
            unterscheiden.
            Durch diese Links ermöglichen wir lediglich den Zugang zur Nutzung fremder Inhalte nach § 8
            Telemediengesetz.
            Wir können diese fremden Inhalte nicht ständig auf Veränderungen überprüfen und daher auch keine
            Verantwortung
            dafür übernehmen. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die
            aus
            der Nutzung oder Nichtnutzung von Informationen Dritter entstehen, haftet allein der jeweilige Anbieter der
            Seite.
        </p>

        <h2>Urheberrecht / Copyright</h2>
        <p>
            Die Kopie und die Weiterverwendung von Text und Graphik erfordert die Zustimmung der Herausgeber. Zudem gilt
            zu
            beachten, dass Bilder, Graphiken, Text- oder sonstige Dateien ganz oder teilweise dem Urheberrecht Dritter
            unterliegen.
        </p>

        <h2>Rechtswirksamkeit der vorstehenden Bestimmungen</h2>
        <p>
            Sofern einzelne oder mehrere Regelungen der vorstehenden Bestimmungen der geltenden Rechtslage nicht, nicht
            mehr
            oder nicht vollständig entsprechen sollten, bleiben die übrigen Regelungen der vorstehenden Bestimmungen in
            ihrem Inhalt und ihrer Gültigkeit davon unberührt.
        </p>


        <h2>Gerichtsstand</h2>
        <p>
            Alle aus dieser Website entstehenden Rechtsstreitigkeiten unterliegen ausschließlich deutschem Recht.
        </p>

        <h2>Datenschutzerklärung</h2>

        In dieser Datenschutzerklärung informieren wir Sie über die Verarbeitung personenbezogener Daten bei der Nutzung
        dieser Website.

        <h3>Verantwortlicher</h3>

        Verantwortlich für die Datenverarbeitung ist
        Christian Ghanem <br>
        Bahnhofstraße 87<br>
        90402 Nürnberg<br>
        Tel. 0911-5880-2536<br>
        E-Mail: c [punkt] schmoeller [at] gmx [punkt] de <br>


        <h3>Personenbezogene Daten</h3>

        Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare
        natürliche Person (im Folgenden "betroffene Person") beziehen. Als identifizierbar wird eine natürliche Person
        angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer
        Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen
        identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen,
        wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.

        <h3>Daten beim Websiteaufruf</h3>

        Wenn Sie diese Website nur nutzen, um sich zu informieren und keine Daten angeben, dann verarbeiten wir nur die
        Daten, die zur Anzeige der Website auf dem von Ihnen verwendeten internetfähigen Gerät erforderlich sind. Das
        sind insbesondere:
        IP-Adresse
        Datum und Uhrzeit der Anfrage
        jeweils übertragene Datenmenge
        die Website, von der die Anforderung kommt
        Browsertyp und Browserversion
        Betriebssystem

        Rechtsgrundlage für die Verarbeitung dieser Daten sind berechtigte Interessen gemäß Art. 6 Abs. 1 UAbs. 1
        Buchstabe f) DSGVO, um die Darstellung der Website grundsätzlich zu ermöglichen.
        Darüber hinaus können Sie verschiedene Leistungen auf der Website nutzen, bei der weitere personenbezogene und
        nicht personenbezogene Daten verarbeitet werden.

        <h3>Ihre Rechte</h3>
        Als betroffene Person haben Sie folgende Rechte:
        Sie haben ein Auskunftsrecht bezüglich der Sie betreffenden personenbezogenen Daten, die der Verantwortliche
        verarbeitet (Art. 15 DSGVO),
        Sie haben das Recht auf Berichtigung der Sie betreffenden Daten, wenn diese unrichtig oder unvollständig
        gespeichert werden (Art. 16 DSGVO),
        Sie haben das Recht auf Löschung (Art. 17 DSGVO),
        Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen (Art. 18
        DSGVO),
        Sie haben das Recht auf Datenübertragbarkeit (Art. 20 DSGVO),
        Sie haben ein Widerspruchsrecht gegen die Verarbeitung Sie betreffender personenbezogener Daten (Art. 21 DSGVO),
        Sie haben das Recht nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling
        – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet oder sie in
        ähnlicher Weise erheblich beeinträchtigt (Art. 22 DSGVO),
        Sie haben das Recht, sich bei einem vermuteten Verstoß gegen das Datenschutzrecht bei der zuständigen
        Aufsichtsbehörde zu beschweren (Art. 77 DSGVO). Zuständig ist die Aufsichtsbehörde an Ihrem üblichen
        Aufenthaltsort, Arbeitsplatz oder am Ort des vermuteten Verstoßes.

        <h3>Einsatz von Cookies</h3>

        Beim Besuch der Website können Cookies auf Ihrem Gerät gespeichert werden. Cookies sind kleine Textdateien, die
        von dem von Ihnen verwendeten Browser gespeichert werden. Cookies können keine Programme ausführen und auch
        keine Viren auf Ihr Gerät übertragen. Die Stelle, die den Cookie setzt, kann darüber jedoch bestimmte
        Informationen erhalten. Cookies dienen dazu, das Internetangebot benutzerfreundlicher zu machen. Mithilfe von
        Cookies kann beispielsweise das Gerät, mit dem diese Website aufgerufen wurde, bei einem erneuten Aufruf erkannt
        werden.
        Durch die Browsereinstellungen lässt sich das Setzen von Cookies einschränken oder verhindern. So kann z. B. nur
        die Annahme von Cookies, die von Drittanbietern stammen, blockiert werden oder aber auch die Annahme von allen
        Cookies. Durch das Blockieren sind jedoch möglicherweise nicht mehr alle Funktionen dieser Website nutzbar. Im
        weiteren Text dieser Datenschutzerklärung informieren wir Sie konkret, an welchen Stellen und zu welchen Zwecken
        Cookies auf den Seiten zum Einsatz kommen.


    </div>


{% endblock %}
