{% extends 'base.html' %}

{% block title %}Impress{% endblock %}

{% block content %}

    <div class="container">
        <h1>Impress</h1>

        Ea vitae ipsum reprehenderit. Nemo recusandae similique qui laboriosam asperiores. Aut ut consequatur sint ullam sit. Voluptatum repellat nisi aperiam labore ut libero qui. Vitae quaerat reprehenderit ea labore.
        Non magnam doloremque aut soluta. Optio ipsam temporibus iure voluptatem ea earum. Quisquam quo porro veritatis aut aut praesentium aperiam.
        Laudantium voluptates veritatis modi qui ab temporibus voluptate. Dolores fugit quia ea qui quos facere. Consequatur qui quia ipsa repudiandae corporis voluptatum id laudantium. Sed temporibus laudantium harum enim vero quod. Ut delectus nisi vitae culpa sit.
        Qui in et ut sint dolor sit. Quam ut alias earum eum provident dicta et voluptatum. Saepe nisi velit hic sunt natus similique exercitationem nam. Quo quae laboriosam dolorum nihil incidunt non qui. Voluptatem recusandae aut omnis consequatur et illo molestiae.
        Soluta vel est odit nobis harum numquam. Commodi saepe quo molestiae a assumenda omnis aut. Quidem nemo temporibus et aut provident rerum aperiam temporibus.


    </div>


{% endblock %}
